%section#cover
  #cover-caption
    .container
      .col-sm-10.col-sm-offset-1
        %h1.display-3 Welcome To Bootstrap 4
        %p= lorem_ipsum
        %form.form-inline
          .form-group
            %input.form-control.form-control-lg{placeholder:"Jane Doe"}
          .form-group
            %input.form-control.form-control-lg{placeholder:"jane.doe@yahoo.com"}
          %button.btn.btn-success.btn-lg{type:"submit"}GO!
          %br
          %a.btn.btn-outline-secondary.btn-sm{href: "#nav-main"} &darr;

%nav.navbar.navbar-dark.bg-inverse.navbar-full#nav-main
  %a.navbar-brand{href: "#"} The Logo
  %ul.nav.navbar-nav
    %li.nav-item.active
      %a.nav-link{href: "#"}
        Home
    %li.nav-item
      %a.nav-link{href: "#"} Features
    %li.nav-item
      %a.nav-link{href: "#"} Pricing
    %li.nav-item
      %a.nav-link{href: "#"} About
  %form.form-inline.pull-xs-right
    %input.form-control{placeholder: "Search", type: "text"}/
    %button.btn.btn-outline-success{type: "submit"} Search

%section#carousel
  #carousel-home.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel-home"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel-home"}
      %li{"data-slide-to" => "2", "data-target" => "#carousel-home"}
    .carousel-inner
      .carousel-item.active
        %img{src: "/img/woman-camera.jpg"}/
        .carousel-caption
          %h3 A woman with a camera
          %p She is probably taking a picture
      .carousel-item
        %img{src: "/img/spiderweb.jpg"}/
        .carousel-caption
          %h3 So much water
          %p Poor spider
      .carousel-item
        %img{src: "/img/hearthand.jpg"}/
        .carousel-caption
          %h3 Two Hands
          %p One Heart
    %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-home"}
      %span.icon-prev
    %a.right.carousel-control{"data-slide" => "next", href: "#carousel-home"}
      %span.icon-next

%section#what-we-do
  .section-content
    .container
      %h2 What we do
      %p.lead= lorem_ipsum
      .row
        .col-sm-12
          .card-group
            .card
              .card-block
                %h4.card-title Strategy & Planning
                %h6.card-subtitle Support card subtitle
                %img{src:"/img/chalkboard.jpg"}
              .card-block
                %p.card-text= lorem_ipsum(words: 20)
                %button.btn.btn-outline-success{"data-toggle" => "modal", "data-target" => "#myModal"} learn more
            .card
              .card-block
                %h4.card-title Creative & Design
                %h6.card-subtitle Support card subtitle
                %img{src:"/img/working.jpg"}
              .card-block
                %p.card-text= lorem_ipsum(words: 25)
                %button.btn.btn-outline-success{"data-toggle" => "modal", "data-target" => "#myModal"} learn more
            .card
              .card-block
                %h4.card-title Programming & Technical
                %h6.card-subtitle Support card subtitle
                %img{src:"/img/programming.jpg"}
              .card-block
                %p.card-text= lorem_ipsum(words: 50)
                %button.btn.btn-outline-success{"data-toggle" => "modal", "data-target" => "#myModal"} learn more
